/presentation-blx.bib
/presentation.aux
/presentation.fdb_latexmk
/presentation.fls
/presentation.log
/presentation.nav
/presentation.out
/presentation.run.xml
/presentation.snm
/presentation.synctex.gz
/presentation.toc